/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#landing {
    height: 500px;
    position: relative;
    margin-bottom: 150px;
}

#landing h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    width: 97%;
    line-height: 1.3em;
    font-weight: 800;
}

#landing h2 {
    font-size: .9em;
    width: 94%;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.7em;
}

.quote-button {
    border: none;
    border-radius: 25px;
    position: relative;
    background: var(--primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.arrow-svg {
    position: relative;
    z-index: 100;
    width: 40px;
    height: 20px;
    margin-left: 15px;
}

.v-image {
    position: absolute;
    right: -15px;
    top: 330px;
    z-index: 0;
    width: 120px;
}

.slanted-graphic {
    background: rgb(41,106,147);
    background: -moz-linear-gradient(121deg, rgba(41,106,147,1) 0%, rgba(59,151,210,1) 56%, rgba(37,245,254,1) 100%);
    background: -webkit-linear-gradient(121deg, rgba(41,106,147,1) 0%, rgba(59,151,210,1) 56%, rgba(37,245,254,1) 100%);
    background: linear-gradient(121deg, rgba(41,106,147,1) 0%, rgba(59,151,210,1) 56%, rgba(37,245,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#296a93",endColorstr="#25f5fe",GradientType=1);
        width: 100%;
    height: 200px;
    -webkit-transform: skewY(-15deg);
        -ms-transform: skewY(-15deg);
            transform: skewY(-15deg);
    position: absolute;
    z-index: -1;
    bottom: -100px;
}

.slanted-graphic ul {
    -webkit-transform: skewY(15deg);
        -ms-transform: skewY(15deg);
            transform: skewY(15deg);
    margin-top: 80px;
    list-style: none;
    padding-left: 15px;
}

.slanted-graphic ul li {
    color: #fff;
    margin-bottom: 10px;
    font-size: .8em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.slanted-graphic ul li svg {
    width: 20px !important;
    height: auto;
    margin-right: 10px;
}

/*-- -------------------------- -->
<---         WHAT WE DO         -->
<--- -------------------------- -*/

.content {
    margin-top: 50px;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
}

.item h3 {
    margin: 15px auto;
    text-align: center;
}

.item p {
    text-align: center;
}

.item svg {
    width: 70px !important;
    height: auto;
}

.orange-rectangle {
    height: 100px;
    width: 100%;
    background: var(--tertiary);
    -webkit-transform: skewY(15deg);
        -ms-transform: skewY(15deg);
            transform: skewY(15deg);
    position: absolute;
    z-index: -1;
    bottom: -90px;
}

/*-- -------------------------- -->
<---         SPECIALTIES        -->
<--- -------------------------- -*/

#specialties {
    overflow: hidden;
    position: relative;
}

.green-bar {
    position: absolute;
    background:
    -o-radial-gradient(circle, transparent 20%, #19A084 20%, #19A084 80%, transparent 80%, transparent),
    -o-radial-gradient(circle, transparent 20%, #19A084 20%, #19A084 80%, transparent 80%, transparent) 50px 50px,
    -o-linear-gradient(#30aa90 8px, transparent 8px) 0 -4px,
    -o-linear-gradient(left, #30aa90 8px, transparent 8px) -4px 0;
    background:
    radial-gradient(circle, transparent 20%, #19A084 20%, #19A084 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #19A084 20%, #19A084 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#30aa90 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #30aa90 8px, transparent 8px) -4px 0;
    background-color: #19A084;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
    height: 70%;
    width: 100%;
    top: -50px;
    z-index: -1;
    -webkit-transform: skewY(-15deg);
        -ms-transform: skewY(-15deg);
            transform: skewY(-15deg);
}

.special-button {
    background: #fff;
    color: var(--primary);
    margin-bottom: 20px;
}

.special-heading {
    color: #fff;
    margin-bottom: 50px;
}

.cool-thing-we-do {
    background: #f5f5f5;
    padding: 40px 25px;
    height: 350px;
    max-width: 300px;
    background-position: left;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 7px;
    border-bottom: 7px solid var(--tertiary);
}

.cool-thing-we-do svg {
    width: 70px !important;
    height: auto;
    margin: auto;
}

.paragraph h3 {
    text-align: center;
    margin: 20px auto;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.paragraph p {
    text-align: center;
    opacity: .7;
}

.mobile-special {
    margin-top: 50px;
}

.services-button {
    margin: auto;
}

/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

.title-box {
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.title-box h2 {
    color: #f5f3f3;
    margin-bottom: 15px;
}

.title-box svg {
    height: 30px;
}

.project {
    width: 100%;
    height: 250px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
    margin-bottom: 50px;
}

/*-- -------------------------- -->
<---         WHO WE ARE         -->
<--- -------------------------- -*/

#who-we-are {
    position: relative;
}

.who-topper h2 {
    color: #121212;
    font-size: 1.1em;
    font-weight: 900;
    text-align: center;
    width: 130px;
    margin: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    margin-bottom: 30px;
}

.who-topper h2 span {
    color: var(--primary);
    margin-right: 4px;
}

.who-topper h2:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 145px;
    background: var(--primary);
    z-index: -1;
}

.who-topper h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 50px;
}

.who-topper p {
    text-align: center;
    margin-bottom: 50px;
}

.who-topper a {
    color: var(--primary);
}

/* Spotlight */

.partner {
    text-align: center;
    margin-bottom: 50px;
}

.partner img {
    width: 90%;
    border-radius: 50%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
}

.partner:last-child {
    margin-bottom: 50px;
}

.partner h3 {
    margin-bottom: 10px;
}

.partner h4 {
    text-transform: uppercase;
    color: #838383;
    letter-spacing: .2em;
    font-weight: 0;
}

/*-- -------------------------- -->
<---        TESTIMONIALS        -->
<--- -------------------------- -*/

#reviews {
    position: relative;
    overflow: hidden;
}

.blue-slant {
    position: absolute;
    background: url("/images/code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    bottom: -100px;
    z-index: -1;
    -webkit-transform: skewY(-15deg);
        -ms-transform: skewY(-15deg);
            transform: skewY(-15deg);
}

.blue-slant:before {
    content: '';
    position: absolute;
    background: rgb(24,60,84);
    background: rgb(24,60,84);
    background: -o-linear-gradient(45deg, rgba(24,60,84,1) 0%, rgba(41,106,147,1) 0%, rgba(33,148,255,0.8909512761020881) 86%, rgba(59,151,210,1) 100%);
    background: linear-gradient(45deg, rgba(24,60,84,1) 0%, rgba(41,106,147,1) 0%, rgba(33,148,255,0.8909512761020881) 86%, rgba(59,151,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#183c54",endColorstr="#3b97d2",GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.reviews h3 {
    color: var(--primary);
    font-size: 1.1em;
    font-weight: 900;
    text-align: center;
    width: 160px;
    margin: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    margin-bottom: 30px;
}

.reviews h3:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 175px;
    background: var(--primary);
    z-index: -1;
}

.review {
    background: var(--secondary);
    padding: 35px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
}

.review p {
    color: #fff;
    opacity: .8;
    letter-spacing: 1px;
    font-size: .8em;
    text-align: center;
    margin-bottom: 20px;
}

.review h4 {
    opacity: .9;
}

.logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logos img {
    margin: 30px;
    width: 140px;
    height: 140px;
}

.collab {
    background: #fff;
    margin: 15px;
    height: auto;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
}

.collab h3 {
    width: 100%;
    padding: 70px 30px;
    text-align: center;
    color: #838383;
    font-weight: 900;
    width: 200px;
    margin: auto;
}

.line {
    height: 1px;
    width: 90%;
    background: #838383;
    margin: auto;
}

.start {
    color: var(--secondary) !important;
    padding: 70px 30px;
    font-weight: 900;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    height: 194px;
}

.start:hover {
    cursor: pointer;
    opacity: .7;
}

.start:before {
    content: '';
    position: absolute;
    margin: auto;
    bottom: 81px;
    height: 3px;
    width: 30px;
    background: var(--secondary);
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1024px) {

    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/

    #landing h1 {
        width: 70%;
        padding-top: 40px;
    }

    /*-- -------------------------- -->
    <---          PROJECTS          -->
    <--- -------------------------- -*/

    .projects-group {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 10px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        height: 500px;
        width: auto;
    }

    .projects-group > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .projects-group > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .projects-group > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }

    .projects-group > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .projects-group > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .projects-group > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    .project-box {
        margin: 0;
        -ms-grid-column: 2;
            grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        height: 100%;
    }

    .project {
        margin: 0;
        height: 100%;
        position: relative;
        border-radius: 8px;
    }

    .two {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
        background: #000;
    }

    .two img {
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .three {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        background: rgb(90,58,180);
background: -o-linear-gradient(329deg, rgba(90,58,180,1) 0%, rgba(29,127,253,1) 50%, rgba(69,252,238,1) 100%);
background: linear-gradient(121deg, rgba(90,58,180,1) 0%, rgba(29,127,253,1) 50%, rgba(69,252,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5a3ab4",endColorstr="#45fcee",GradientType=1);
    }

    .four {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
        position: relative;
        background: #fff;
    }

    .four img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

}